:root {
    /* base colors */
    --bg: #18191B;
    --surface-1: #2C2D30;
    --surface-2: #3b3C40;

    /* text colors */
    --text: #EDEDED;
    --text-dim: #A7AAAE;
    --text-disabled: #636569;

    /* accent */
    --accent: #23B4D8;
    --on-accent: #000000;

    /* Hover & Active */
    --accent-hover: #1EA0C2;
    --accent-active: #1789A6;

    /* borders */
    --border: #4A4C50;
    --border-dim: #2A2B2E;

    /* symantic */
    --positive: #4CC38A;
    --negative: #FF7A8A;
    --warning: #F5B947;
}

/* base styling */
body {
    font-family: 'Inter', sans-serif;
    background: var(--bg);
    color: var(--text);
    margin: 0;
    font-size: 16px;
}

/* typography */
h1 {
    font-size: 24px;
    margin: 0 0 16px 0;
}

h2 {
    font-size: 20px;
    margin: 0 0 12px 0;
}

h3 {
    font-size: 16px;
    margin: 0 0 8px 0;
}

p {
    font-size: 16px;
    margin: 0 0 12px 0;
}

small {
    font-size: 14px;
    color: var(--text-dim);
}


